{% extends 'base.html' %}

{% block page_content %}
    {% load index %}

    {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}</h1>
        <a href="{% url 'logout page' %}">Log out</a>

    {% else %}
        <h1>Hello, Anonymous</h1>
        <a href="{% url 'register page' %}">Register</a>
        <a href="{% url 'login page' %}">Login</a>

    {% endif %}

    {% if user.is_staff %}
        <a href="{% url 'rooms' %}">All Rooms</a>
    {% endif %}

    {% if user.is_authenticated and unread_messages %}
        <div>
            <h3>Unread messages:</h3>
            {% for room in user_rooms %}
                <p>
                    <a href="{% url 'room' room.slug %}">{{ room.name }}</a>
                    <strong>({{ unread_messages_count|index:room.id }})</strong>
                </p>
            {% endfor %}
        </div>
    {% endif %}

    <a href="{% url 'create room' %}">Open room</a>
{% endblock %}
